body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  margin: 0px;
}

.pointer {
  cursor: pointer;
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.gap {
  height: 20px;
}


.header {
  height: 70px;
  width: 100vw;
  margin-top: 0px;
  white-space: nowrap;
  background-color: #FFF;
  padding: 30px;
  /* padding-left: 100px; */
  display: flex;
  flex-direction: row;
  position: fixed;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  z-index: 10;
  /* border: solid;
  border-width: 0px;
  border-bottom-width: 10px;
  border-color: brown; */

}

.header-title {
  margin: 0px;
  font-size: 70px;
  margin-left: 80px;
  flex: 7;
}

.header-menu {
  display: flex;
  flex-direction: row;
  flex: 2;
  font-size: 20px;
  margin-top: 20px;
}

.header-menu-buttons {
  margin-right: 50px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10%;
  white-space: nowrap;
}

.header-user-info {
  margin-right: 20px;
  padding-left: 2vw;
  font-size: 20px;
  flex: 1;
  height: 40px;
  border: solid;
  border-width: 0px;
  border-left-width: 2px;
  border-color: #ccc;
  margin-top: 20px;
}


.toolbar {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2vw;
}





.body {
  background-color: #EEE;
  min-height: 80vh;
  padding: 70px;
  padding-top: 140px;
  
}

.footer {
  background-color: #777;
  height: 200px;
}






/* login */

.login {
}

.login-header {
  height: 20vh;
  width: 100vw;
  font-size: 10vh;
  background-color: #eee;
}

.login-body {
  height: 80vh;
  background-color: #eee;
}

.login-box {
  background-color: #fff;
  height: 500px;
  width: 500px;
  border-radius: 2%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.kakao-login {
  width: 250px;
  height: auto;
  margin-top: 40px;
}




/* records */

.records-box {
  width: 50vw;
  min-height: 1000px;
  /* background-color: #fff; */
}

.records-index {
  display: flex;
  flex-direction: row; 
  border: solid;
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: #444;
  white-space: nowrap;
  /* background-color: firebrick; */
}

.records-index-date {
  margin-right: 100px;
}

.records-index-hpt {
  margin-right: 105px;
}

.records-index-doctor {
  margin-right: 100px;
}

.records-index-notes {
  margin-right: 80px;
}

.records-list {
  /* background-color: forestgreen; */
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  margin-bottom: 0px;
}

.records-list-date {
  width: 125px;
  height: 50px;
}

.records-list-hpt {
  width: 130px;
  height: 50px;
}

.records-list-doctor {
  width: 130px;
  height: 50px;
}

.records-list-notes {
  width: 330px;
  height: 50px;
}

.records-mouseover {
  background-color: #DDD;
}